* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

header, main {
  width: 70%;
  text-align: center;
  border: 1px dotted #000000;
  padding: 10px;
  box-shadow: 0 2px 10px black;
  background-color: rgba(192, 245, 255, 0.329);
}

main {
  display: flex;
  justify-content: center;
  border-top: none;
  height: auto;
  border-radius: 0px 0px 20px 20px;
}

header {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  position: relative;
  border-radius: 20px 20px 0px 0px;
  border-bottom: none;
}

h1 a {
  margin: 30px;
  text-decoration: none;
  letter-spacing:2px;
  font-size: larger;
  color: black;
}

.container {
  display: flex;
}

#showOptionsBtn {
  position: absolute;
  right: 10px;
  top: 17px;
  cursor: pointer;
  padding: 10px 20px; 
  border: none;
  background-color: #333; 
  color: #fff; 
  border-radius: 5px;
  float: right;
}

/* Stilizovanje kontejnera za opcije */
.options-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 16rem;
  position: absolute;
  right: 5px;
  top: 50px;
  border: 1px solid #ccc;
  background-color: #000000;
  border-radius: 20px 0 20px 20px;
  transition: transform 0.5s ease-in-out;
  transform-origin: top right;
  transform: scaleY(0);
  transform-origin: top right;
  opacity: 0;
  pointer-events: none;
}

.options-container.show {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
}

/* Stilizovanje opcija */
.options-container a {
  margin: 5px;
  color: #fff;
  text-decoration: none;
  font-size: large;
}

form {
  background-color: #ffffff09;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  font-size: larger;
  margin-top: 2%;
  margin-bottom: 2%;
}

div {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: larger;
}

.btn button {
  background-color: #4c56af;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 15%;
}

button:hover {
  background-color: #6d7cff;
}
